@font-face {
    font-family: 'HankenGrotesk';
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    background-color: #ECF2FF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'HankenGrotesk';
    margin: 0px;
}

.card {
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 40px;
    background-color: #fff;
    width: 736px;
    height: 512px;
    border-radius: 32px;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
}

.left-content {
    font-family: 'HankenGrotesk';
    width: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    background: linear-gradient(to bottom, #7755FF 0%, #6943FF 0%, #2F2CE9 100%);
    border-radius: 32px;
}

.left-content h3 {
    color: #CAC9FF;
    font-size: 24px;
    padding-top: 24px;
}

.left-content .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.left-content .result h2 {
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    color: #fff;
}

.left-content .result p {
    font-size: 18px;
    margin: 0;
    color: #CAC9FF;
}

.left-content .result-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    gap: 14px;
}

.left-content .result-text h2 {
    font-size: 32px;
    color: #fff;
    margin: 0;
}

.left-content .result-text p {
    font-size: 18px;
    color: #CAC9FF;
    text-align: center;
    margin: 0;
}

.right-content {
    font-family: 'HankenGrotesk';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 28px;
}

.right-content h3 {
    font-size: 24px;
    color: #303B59;
    margin:0px;
}

.summary-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.summary-details-reaction,
.summary-details-memory,
.summary-details-verbal,
.summary-details-visual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 264px;
    height: 56px;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

.icon-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.max {
    font-weight: bold;
    color: rgba(48, 59, 89, 0.5);
}

.summary-details-reaction {
    background-color: rgba(255, 85, 85, .1);
    position: relative; 
}
.summary-details-memory {
    background-color: rgba(255, 178, 30, .1);
    position: relative; 
}
.summary-details-verbal {
    background-color: rgba(0, 187, 143, .1);
    position: relative; 
}
.summary-details-visual {
    background-color: rgba(17, 37, 214, .1);
    position: relative; 
}

.reaction {
    color: #FF5555;
}
.memory {
    color: #FFB21E;
}
.verbal {
    color: #00BB8F;
}
.visual {
    color: #1125D6;
}

.number .result {
    color: #303B59;
    font-weight: bold;
}

button {
    background-color: #303B59;
    color: #fff;
    border-radius: 128px;
    width: 288px;
    height: 56px;
    border: none;
    font-weight: bold;
    margin-top: 16px;
    font-size: 18px;
    margin: 0px;
}

button:hover {
    background: linear-gradient(to bottom, #7755FF 0%, #6943FF 0%, #2F2CE9 100%);
}

@media (max-width: 375px) {
    .card {
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 24px;
        background-color: #fff;
        width: 375px;
        height: 809px;
        border-radius: 32px;
        box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    }

    .left-content {
        font-family: 'HankenGrotesk';
        width: 375px;
        height: 316px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        background: linear-gradient(to bottom, #7755FF 0%, #6943FF 0%, #2F2CE9 100%);
        border-radius: 0px 0px 32px 32px;
        padding-bottom: 40px;
        padding-top: 24px;
    }

    .left-content h3 {
        color: #CAC9FF;
        font-size: 18px;
        margin: 0px;
        padding: 0px;
    }
    
    .left-content .result {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to bottom, #4D21C9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
        width: 140px;
        height: 140px;
        border-radius: 100%;
    }
    
    .left-content .result h2 {
        font-size: 56px;
        line-height: 72px;
        margin: 0;
        color: #fff;
    }
    
    .left-content .result p {
        font-size: 16px;
        margin: 0;
        color: #CAC9FF;
    }
    
    .left-content .result-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 260px;
        gap: 8px;
    }
    
    .left-content .result-text h2 {
        font-size: 24px;
        color: #fff;
        margin: 0;
    }
    
    .left-content .result-text p {
        font-size: 16px;
        color: #CAC9FF;
        text-align: center;
        margin: 0;
    }

    .right-content {
        font-family: 'HankenGrotesk';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    
    .right-content h3 {
        font-size: 18px;
        color: #303B59;
        margin: 0px;
    }
    
    .summary-list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .summary-list p {
        font-size: 16px;
    }

    .summary-details-reaction,
    .summary-details-memory,
    .summary-details-verbal,
    .summary-details-visual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 288px;
    height: 56px;
    border-radius: 12px;
    padding-left: 16px;
    padding-right: 16px;
}

    button {
        width: 315px;
    }

}